#app
:javascript
  const DB = require("app/DB")
  const AppEngine = require("app/AppEngine")
  const View = require("app/View")
  ReactDOM.render(React.createElement(AppEngine(View), {course: DB.course}), document.getElementById("app"))
