:scss
  body {
    background: #333;
  }
  #editor {
      margin: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
  }
  #panel {
    position: absolute;
    bottom: -60px;
    height: 60px;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: #222;
  }
  #player {
    height: 400px;
    max-width: 800px;
    border: 1px solid #333;
    position: relative;
    margin: 20px auto 50px;
  }
= #%script{src: "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"}
%script{src: "http://localhost:8000/build/js/live-editor.editor_ace_deps.js"}

#player
  #editor
  #panel

:javascript
  const App = require("ace/hoc/App")
  ReactDOM.render(React.createElement(App, {type: "make"}), document.getElementById("panel"))
