:scss
  body {
    background: #333;
  }
  #player {
    min-width: 800px;
  }
%script{src: "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"}
#player

:javascript
  const RecordApp = require("ace/RecordApp")
  ReactDOM.render(React.createElement(RecordApp), document.getElementById("player"))
