:scss
  body {
    background: #333;
  }
  #player {
    min-width: 800px;
    a:hover {
      background-color: #222 !important
    }
  }
%script{src: "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"}
#player
:javascript
  const PlayApp = require("ace/PlayApp")
  ReactDOM.render(React.createElement(PlayApp), document.getElementById("player"))
