:scss
  body {
    background: #333;
  }
  #player {
    margin: 20px 30px;
    min-width: 800px;
  }
%script{src: "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"}
#player
:javascript
  const PlayApp = require("ace/PlayApp")
  ReactDOM.render(React.createElement(PlayApp), document.getElementById("player"))
