:scss
  body {
    background: #333;
  }
  #panel {
    position: absolute;
    bottom: -60px;
    height: 60px;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: #222;
  }
  #player {
    height: 400px;
    max-width: 800px;
    border: 1px solid #333;
    position: relative;
    margin: 20px auto 50px;
  }
%script{src: "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"}

#player

:javascript
  const PlayApp = require("ace/PlayApp")
  ReactDOM.render(React.createElement(PlayApp), document.getElementById("player"))
